<p id="notice"><%= notice %></p>

<p>
  <strong>Tid:</strong>
  <%= @team.tid %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @team.event %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
