<div class="container padding">
  <div class="row row15">
    <div class="row row15">
      <center>
      <%= image_tag "Logo.png", :class => "image"%>
      </center>
    </div>
    <br><br>
    <h1 style="text-align:center;font-weight:300" class="coming"> COMING SOON </h1>
    <div class="row row15">
      <div class="col-md-4 col-md-push-4 col-sm-4 col-sm-push-4 col-xs-8 col-xs-push-2" style="text-align:center;font-size:20px;font-weight:100">
        We are currently working on an awesome new site.
      </div>
    </div>
    <!-- <br> -->
    <div class="row row15">
      <div class="col-md-4 col-md-push-4" style="text-align:center;font-size:32px; font-weight:500">
        Stay Tuned !
      </div>
    </div>
    <br><br><br>

    <div class="row">
      <div class="col-md-4 col-md-push-4 col-sm-6 col-sm-push-3 col-xs-8 col-xs-push-2" style="text-align:center;font-size:32px; font-weight:500">
        <hr class="col-xs-1" style="border-top-color: black;" />
        <p class="col-xs-8" style="margin-top:-3px">Follow us</p>
        <hr class="col-xs-1" style="border-top-color: black;">
      </div>
    </div>
    <br />
    <br />

    <div class="row row15">
      <div id="pro" class="col-md-1 col-md-push-4 col-sm-3 col-xs-3">
        <a href="https://www.facebook.com/EsyaIIITD" target="_blank"><%= image_tag "Fb.png", :class => "link"%></a>
      </div>
      <div id="pro" class="col-md-1 col-md-push-4 col-sm-3 col-xs-3">
        <a href="http://esya.iiitd.edu.in/blog/" target="_blank"><%= image_tag "Blog.png", :class => "link"%></a>
      </div>
      <div id="pro"class="col-md-1 col-md-push-4 col-sm-3 col-xs-3">
        <a href="https://instagram.com/esya_iiitd" target="_blank"><%= image_tag "Insta.png", :class => "link"%></a>
      </div>
      <div id="pro" class="col-md-1 col-md-push-4 col-sm-3 col-xs-3">
        <a href="https://twitter.com/EsyaIIITD" target="_blank"><%= image_tag "Twitter.png", :class => "link"%></a>
      </div>
    </div>
  </div>
</div>
