<%= simple_form_for(@registration) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :participant %>
    <%= f.association :event %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
