<%= form_for @event, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :type, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rules, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :rules, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :judging, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :judging, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :event_date_time, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :event_date_time, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :team_size, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :team_size, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :venue, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :venue, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :eligibilty, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :eligibilty, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :registration_deadline, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :registration_deadline, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :prizes, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :prizes, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contact, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :contact, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :photo, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :photo, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  events_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
