<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sponsor.category %>
</p>

<p>
  <strong>Image:</strong>
  <%= @sponsor.image %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
