<!DOCTYPE html>
<html>
<head>
  <title>Esya 2015</title>
  <%= stylesheet_link_tag    'ide', media: 'all' %>
  <%= javascript_include_tag 'ide' %>
  <%= csrf_meta_tags %>
<!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? or Rails.env.development? %><meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>

<%= yield %>

</body>
</html>
