<!DOCTYPE html>
<html>
<head>
  <title>Esya 2015</title>
  <%= stylesheet_link_tag    'ide', media: 'all' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'ide' %>
  <meta property="og:title" content="Esya 2015" /> 
  <meta property="og:description" content="The Annual techfest of IIIT-Delhi" /> 
  <meta property="og:image" content="http://esya.iiitd.edu.in/img/e15.png" />
  <%= csrf_meta_tags %>

<!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? or Rails.env.development? %><meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>

<%= yield %>

</body>
</html>
